HOSTNAME=
PORT=
APP_ENV=
MONGO_DB_NAME=
MONGO_DB_URL=
MONGO_DB_PORT=
FIREBASE_CRED_PATH=
ANDROID_CHANNEL_NAME=
TOKEN_PRICE_URL=
EXPLORER_API=
REDIS_URL=
EXPLORER_TOKEN=
CALLBACK_URL=
RPC_URL=
REWARDS_BANK_ADDRESS=